.skill {
  padding: 0;
  position: relative;
  min-height: 100vh;

  .container {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.skill-bx {
  background: none;
  border-radius: 64px;
  text-align: center;
  padding: 20px 0;
}

.skill h2 {
  font-size: clamp(2rem, 5vw, 4.5rem);
  font-weight: 700;
}

.skill p {
  color: #B8B8B8;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 95%;
  margin: 0 auto;
  position: relative;

  @media (min-width: 768px) {
    width: 80%;
  }
}

.skill-slider .item img {
  width: 40%;
  max-width: 150px;
  margin: 0 auto 15px auto;
}

@media (max-width: 600px) {
  .skill-bx {
    padding: 30px 20px;
  }

  .item h2 {
    font-size: 1.8rem;
  }
}

.react-multiple-carousel__arrow::before {
  font-size: 20px;
  color: #fff;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: -1;
  position: relative;
}

#car {
  z-index: 1;
}



//   .background-image-left {
//     top: 28%;
//     position: absolute;
//     bottom: 0;
//     width: 40%;
//     z-index: -4;
//   }